body {
    background-color: rgb(175, 233, 175);
}

.airportClass {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 400px;
    left: 1012px;
}

.parent {
    position: relative;
}

.mapClass {
    position: relative;
    width: 960px;
    height: 620px;
}

.cursorClass {
    position: absolute;
    width: 25px;
    height: 25px;
}